<!doctype html>
<html lang="en">
<head>
    <link href="", type="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Контактыt</title>
</head>
<body>
    <h> Номер телефона - 489430 <br> Разработчик: {{name}}</h>

        <ul>
        <li>
            <a href="/contacts/">Главная</a>
        </li>
    </ul>
</body>
</html>